@import 'displayGrid.css';
@import 'ListForm.css';

body {
  background-color: #A7B1B7;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#header {
  background-color: #BA0C2F;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#header h1 {
  padding: 20px;
}

#footer {
  background-color: #BA0C2F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-holder {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(#000, 0.1);
  margin: 10px;
}

.column {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  padding: 10px;
}

.recycling h2 {
  font-size: 4vh;
  padding: 10px;
  text-align: center;
}

.recycling h3 {
  padding: 10px;
  font-size: 3vh;
  text-align: center;
}

.recycling p {
  padding: 10px;
  font-size: 2vh;
  text-align: center;
}

ul.recycleList {
  list-style-type: none;
  font-size: 2vh;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar a {
  color: #fff;
  padding: 10px;
}
